#No SDT error files
errdqh
errscm
errfast
errUI
errIDL*

#No SDT outfiles
SelectedEvts
outdqh
outscm
outfast
outUI
outIDL*
*~

#output_alfven_stats dir
Alfven_study_14F/output_alfven_stats/*

#No .ps or .pdf files
*.ps
*.pdf

#No dflux files
#*dflux_*
#No plot dir
plots/

#No txtOutputDir
txtOutput/
