#No emacs tmp files
*~

#No SDT garbage
errdqh
errfast
errIDL.*
errscm
errUI
outdqh
outfast
outIDL.*
outscm
outUI
SelectedEvts
#No batch output
batch_output__intervals/
batch_output__intervals--20160201/
