#No old DB stuff
old_batch_output/
batch_output_before_revamped_db.tar.gz

#No reject listmaker stuff
reject_listmaker/rej_output/

#No batch_output
batch_output/
batch_output__burst/
batch_output--all_events/
batch_output__ucla_mag_despin/
#Ignore chaston_plotmaker plots
../Alfven_study/as5_14F/chaston_plotmaker/plots/


#No UCLA mag despin batch output
batch_output__ucla_mag_despin_201512/

#No plotmaker plots
chaston_plotmaker/plots/

#No magcal versions output
magcal_versions/output/

#No as5 plots
plots/
